body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: White;
}

.cd-logo .kitchen-equipment .cake {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #642580;
    background-size: auto;
    background-attachment: fixed;
    min-height: 100%;
}

.ysuran-logo {
    background-image: url("assets/ysuran.png");
    min-height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
    text-align: center;
}

.textSection {
    background-color: #642580;
    padding: 50px 80px;
    text-align: center;
}

.kitchen-equipment {
    background-image: url("assets/utensils.jpg");
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.ingredients {
    background-image: url("assets/ingredients3.jpg");
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.cooking-instructions {
    background-image: url("assets/cooking-instructions.jpg");
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.listSection {
    height: 40%;
}

ul {
    text-align: center;
    list-style-position: inside;
    padding: 0%;
}

ol {
    text-align: center;
    list-style-position: inside;
    padding: 0%;
}

li span {
    position: relative;
    left: 3px;
}

.cake {
    background-image: url("assets/cake.jpg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.preparation {
    background-image: url("assets/preparation.png");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.decorations {
    background-image: url("assets/finished-cake.jpeg");
    min-height: 100%;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.textSection2 {
    background-color: #642580;
    padding: 50px 80px;
    height: 30%;
}


/* Turn off parallax scrolling for tablets and phones as it is not supported */

@media only screen and (max-device-width: 1024px) {
    .cd-logo,
    .cake,
    .kitchen-equipment,
    .ingredients,
    .preparation,
    .cooking-instructions,
    .decorations {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 768px) {
    .listSection2 {
        height: 60%;
    }
}